<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled ="True"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  <services>
    <service name="HelloWCF.HelloService" behaviorConfiguration="mexBehavior">
      <endpoint address="HelloService" binding="basicHttpBinding" contract="HelloWCF.IHelloService"></endpoint>
      <endpoint address="HelloService" binding="netTcpBinding" contract ="HelloWCF.IHelloService"></endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8080/"/>
          <add baseAddress="net.tcp://localhost:8090/"/>
        </baseAddresses>
      </host>
    </service>
  </services>
    </system.serviceModel>
</configuration>